<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rans.rankeber">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".component.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".component.Login" />
        <activity android:name=".component.Home" />
        <activity android:name=".component.About" />
        <activity android:name=".component.AturanRoda2" />
        <activity android:name=".component.AturanRoda4" />
        <activity android:name=".component.Register" />
        <activity android:name=".component.DetailAturan" />
        <activity android:name=".component.Admin" />
        <activity android:name=".component.ListAturan" />
        <activity android:name=".component.CRUAturan"></activity>
    </application>

</manifest>